body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Hlavicka{
    text-align: center;
    background-color: rgb(30, 72, 161);
    color: white;
    height: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 5;
}

.Sidebar{
    background-color: rgb(29, 49, 92);
    position: fixed;
    top: 100px;
    left: 0px;
    height: 100%;
    width: 150px;
    z-index: 1;
}

.Okienko{
  background-color: rgb(255, 255, 255);
    position: sticky;
    top: 110px; 
    width: 130px;
    height: 200px;
    margin-left: 10px;
}

.Footer{
    text-align: center;
    color: white;
    background-color: rgb(30, 72, 161);
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    z-index: 5;
}

.Buttoni{
    margin-bottom: 10px;
    background-color: rgba(30, 72, 161, 100);
    color: white;
    border: 0px;
}

.Hlavny-Obsah{ 
    margin-left: 150px; 
    margin-top: 150px;
}

h1 {
    text-align: center;
}

button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  background-color: rgb(29, 49, 92);
  color: rgb(255, 255, 255);
  width: 45px;
  height: 45px;
  border: 1px solid #e7eae8;
  border-radius: 8px;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}

@keyframes bounce_513 {
  0%,
    100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}